body {
  background-color: #1f1f1f;
  color: #f0f0f0;
}

h1, h2, h3 {
  color: #a0c0a0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #565656;
}

tr:nth-child(odd) {
  background-color: #606060;
}

th {
  background-color: #2f9f50;
  color: #101010;
}

input {
  background-color: #b0b0b0;
  color: #000000;
  border-radius: 6px;
  padding: 2px;
  font-size: large;
}

button {
  color: #101010;
  background-color: #2f9f50;
  border-radius: 6px;
  padding: 5px;

}
