body {
  background-color: #1f1f1f;
  color: #f0f0f0;
}

h1, h2, h3, h4 {
  color: #a0c0a0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  text-align: center;
}

tr:nth-child(2) {
  background-color: #7686A0 !important;
}

tr:nth-child(even) {
  background-color: #565656;
}

tr:nth-child(odd) {
  background-color: #606060;
}

th {
  background-color: #309050;
}

input {
  background-color: #b0b0b0;
  color: #000000;
  border-radius: 6px;
  padding: 2px;
  font-size: large;
}

button {
  background-color: #2e9f50;
  color: #f0f0f0;
  border-radius: 6px;
  padding: 5px;
}

button:disabled,
button[disabled] {
  color: #252525;
  background-color: #606060;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 14px;
}
.footer-column {
  width: 20%, 20%, 20%;
  justify-content: center;
  text-align: center;
}

.footer-title {
  color: #608060;
  margin-bottom: 0px;
}

.footer-text {
  color: #606060;
}

@media (max-width: 500px) {
  .footer {
      flex-direction: column;
      text-align: center;
  }
  .footer-column {
      margin-bottom: 10px;
      width: auto;
  }
}
